<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>Hello, <span th:text="${user.email}"></span>!</h1>
---------------------------------------------------------------
<h2>Authored tasks</h2>
<table>
    <tr th:each="at : ${user.authoredTasks}">
        <td>
            <a th:href="@{/tasks/{id}(id=${at.id})}">
                <span th:text="${at.title} + '(' + ${at.status} + ')' "></span>
            </a>
            <br>
            <small th:text="${at.description}" style="color: gray;"></small>
        </td>
    </tr>
</table>
---------------------------------------------------------------
<h2>Tasks to be executed</h2>
<table>
    <tr th:each="et : ${user.executedTasks}">
        <td>
            <a th:href="@{/tasks/{id}(id=${et.id})}">
                <span th:text="${et.title} + '(' + ${et.status} + ')' "></span>
            </a>
            <br>
            <small th:text="${et.description}" style="color: gray;"></small>
        </td>
    </tr>
</table>
---------------------------------------------------------------
<div th:if="${user.role.toString() == 'ADMIN'}">
    <form th:action="@{/admin}" method="get">
        <button type="submit">Admin page</button>
    </form>
</div>
<br>
<a href="/tasks/add">Add new task</a>
<br>
<a href="/logout">Logout</a>
</body>
</html>