<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<h2>List of tasks</h2>
<form action="/admin" method="get">
    <input type="text" id="tasksSearchRequest" name="tasksSearchRequest" placeholder="Input search request for tasks"/>
    <button type="submit">Search</button>
</form>
<table>
    <tr th:each="t : ${tasks}">
        <td>
            <a th:href="@{/tasks/{id}(id=${t.id})}">
                <span th:text="${t.title} + '(' + ${t.status} + ')' "></span>
            </a>
            <br>
            <small th:text="${t.description}" style="color: gray;"></small>
        </td>
    </tr>
</table>

<h2>List of users</h2>
<form action="/admin" method="get">
    <input type="text" id="usersSearchRequest" name="usersSearchRequest" placeholder="Input search request for users"/>
    <button type="submit">Search</button>
</form>
<table>
    <tr th:each="u : ${users}">
        <td>
            <a th:href="@{/user/{id}(id=${u.id})}">
                <span th:text="${u.email}"></span>
            </a>
        </td>
    </tr>
</table>
    <form th:action="@{/tasks}" method="get">
        <button type="submit">Back</button>
    </form>
</body>
</html>